* {
    box-sizing: border-box;
    outline: none;
}

html, body{
    background-color: #fff;
    font-size: 10px;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    color: #333;
    line-height: 1.42857;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100% !important;
    -webkit-overflow-scrolling: touch;
}

html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

header {
    padding-top: 70px;
    padding-bottom: 60px;
    background-color: #247db0;
}

.inner {
    position: relative;
    width: 880px;
    margin: 0 auto;
}

header h1{
    width: 540px;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

header h2 {
    width: 540px;
    font-size: 21px;
    font-weight: 300;
    color: hsla(0,0%,100%,.8);
}

header a.button {
    position: absolute;
    top: 20px;
    right: 0;
    color: #fff;
    text-decoration: none;
    border: 1px solid #0e5177;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 168px;
    height: 60px;
    align-items: center;
    border-radius: 10px;
}

header a.button:hover {
    color: #fff;
    background-color: #1b5f86;

}

header a.button>div:nth-child(1){
    flex: 1 1 35%;
    line-height: 60px;
    font-size: 36px;
    text-align: center;
}

header a.button>div:nth-child(2){
    flex: 1 1 65%;
    font-size: 10px;
}
header a.button>div:nth-child(2) div.github{
    font-size: 23px;
}

.content-wrapper {
    width: 800px;
    padding-top: 60px;
    margin: 0 auto;
}

.content-wrapper h3{
    color: #0e5177;
    font-size: 22px;
    font-weight: 400;
    margin: 45px 0 15px;
}

.content-wrapper h3>a{
    float: left;
    margin-left: -20px;
    cursor: pointer;
    color: #9ddcff;
    text-decoration: none;
}

.content-wrapper h3+p{
    font-size: 16px;
    font-weight: 300;
    margin: 15px 0;
}

.content-wrapper .demo-box {
    border: 1px solid #eaeefb;
    border-radius: 4px;
    transition: .2s;
}

.content-wrapper .demo-showcase{
    padding: 24px;
}

/**/

